@use '../../styles/utils/' as *;

.section {
  background-color: $secondary-color;
  @extend .flex-column;
  margin-bottom: 15px;
}
.profile {
  padding: 20px;
  margin-bottom: 15px;
  .profileWrapper {
    @extend .flex-column;
    align-items: center;
  }
  &__image {
    position: relative;
    overflow: hidden;
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    border-radius: 50%;
    border: 3px solid $title-color !important;
  }
  .iconWrapper {
    @extend .flex-row;
    flex: 0 0 100%;
    justify-content: space-around;
    margin-top: 15px;
    &__icon {
      width: 40px;
      height: 40px;
    }
  }
  .copyrights {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .profile {
    padding: 20px 50px;
    .iconWrapper {
      justify-content: center;
      .link {
        margin: 0 20px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .profile {
    position: fixed;
    width: 29%;
    height: calc(100vh - 30px);
    padding: 0 30px;
    .profileWrapper {
      height: inherit;
      flex-wrap: nowrap;
    }
    .iconWrapper {
      justify-content: space-around;
      .link {
        margin: 0;
      }
    }
    &__image {
      margin-top: 25px !important;
    }
    .copyrights {
      text-align: center;
      display: block;
      font-size: 12px;
      margin-bottom: 15px;
      margin-top: auto;
    }
  }
}
@media screen and (min-width: 1124px) {
  .profile {
    width: 27%;
  }
}
@media screen and (min-width: 1300px) {
  .profile {
    width: 22%;
  }
}
