@use './utils/variables' as *;

* {
  box-sizing: border-box !important;
}

::-moz-selection {
  background: $thirdary-color;
  text-shadow: none;
}

::selection {
  background: $thirdary-color;
  text-shadow: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $title-color;
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #707070;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

h2 {
  font-size: 28px;
  margin: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondary-color;
  border: 1px solid $secondary-color;
}

::-webkit-scrollbar-thumb {
  background: #393939;
}

::-webkit-scrollbar-thumb:hover {
  background: #666666;
}

body {
  margin: 0;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;
  background-color: $primary-color;
  color: $text-color;
  line-height: 24px;
  overflow-x: hidden;
}

p {
  color: $text-color;
}
